/* Boende CSS*/

.space { 
    height: 100px;
}

.bkgdarker {
    background-color: #212429;
}

.text-black {
    color: black;
}

.text-white {
    color: rgb(255, 255, 255);
}
.text-center {
    text-align: center;
}

.col-main {
    width: 1400px;
    padding: 40px 25px 40px 25px;
} 

.intro { 
    text-align: center; 
    padding: 30px 25px 30px 25px;
    max-width: 800px;
    font-size: 18px;
}

.fullwidthimg {
    width: 100%!important;
    height:auto;
}

.flex-grid {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-grid .col {
    flex: 1;
}
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

}
.flex-grid-thirds .col {
    width: 33%;
    text-align: center;
    padding: 50px 0px 50px 0px;
    background-color: #ae9b63;
}

.flex-grid-thirds .col2 {
    width: 33%;
    text-align: center;
    padding: 20px 0px 0px 0px;
    background-color: #ae9b63;
}

.content-space { 
    height: 50px;
    display: block;
}

@media (max-width: 960px) {
    .flex-grid,
        .flex-grid-thirds {
        display: block;
        .col, .col2 {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}