@import "./menu.css"; /* Import menu css */

:root {
  /* GENERAL */
  --main-bg-color: #4c4f53;
  --secondary-bg-color: #212529;
  --main-text-color: rgb(225, 225, 225);
  --secondary-text-color: #ae9a63;
  --text-h1-size: 30px;
  --text-h2-size: 25px;
  --text-h3-size: 20px;
  --text-body-size: 16px;
  /* MENU */
  --menu-text-size: 20px;
  --menulink-primary: #ae9a63;
  --menulink-primary-hover: #whitesmoke;
  /* BUTTONS */
  --btn-primary: #ae9a63;
  --btn-primary-hover: rgb(225, 225, 225);
  --btn-booking: #ae9a63;
  --btn-booking-hover: rgb(225, 225, 225);
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "PT Serif";
  font-size: var(--text-body-size);
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 10px;
}

h1 {
  font-size: var(--text-h1-size);
  margin-bottom: 10px;
}
h2 {
  font-size: var(--text-h2-size);
  margin-bottom: 15px;
}
h3 {
  font-size: var(--text-h3-size);
  margin-bottom: 20px;
}

header {
  position: sticky;
  top: 0;
  height: auto;
  z-index: 10;
}


.headerlogo {
  max-width: 240px;
}

ul {
  display: flex;
  justify-content: center;
}


a {
  color: var(--secondary-text-color);
  text-decoration: none;
  /* padding: 0 15px;  */
  text-transform: uppercase;
  cursor: pointer;
}

a:hover {
  color: var(--main-text-color);
  transition: all 0.3s ease;
}


/* START button */
.btn {
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.3s;
  text-transform: uppercase;
}
.btn:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary {
  background-color: var(--btn-primary);
  color: #fff !important;
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover);
  color: #000000 !important;
}

.btn-boka {
  background-color: var(--btn-booking);
  font-size: 25px !important;
  color: #fff !important;
}

.btn-boka:hover {
  background-color: var(--btn-booking-hover);
  font-size: 25px !important;
  color: #000000 !important;
}
/* END button */

footer {
  grid-column: 1/-1;
  flex-wrap: wrap;
  display: flex;
  gap: 35px;
  padding: 35px;
  background-color: var(--secondary-bg-color);
  font-size: 14px;
}

footer section {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  flex-basis: 226px;
  row-gap: 25px;
}

footer section p {
  max-width: 300px;
}

#googlemapspic {
  display: flex;
  justify-content: start;
}

#googlemapspic img {
  max-width: 290px;
}

#kontakt a, #nyhetsbrev a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--btn-primary);
}

#kontakt a {
  padding: 10px;
  font-size: 18px;
}

#nyhetsbrev a {
  width: 130px;
  height: 36px;
  font-size: 14px;
}

#kontakt a:hover,
#nyhetsbrev a:hover {
  background-color: var(--btn-booking-hover);
  color: var(--secondary-bg-color);
}

#social {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

section h4 {
  font-size: 18px;
}

#nyhetsbrev {
  display: flex;
}

input {
  border-radius: 0;
}

.btn-contact,
.btn-news {
  align-items: center;
  background-color: var(--btn-primary);
  border: none;
  color: #fff;
  display: flex;
  justify-content: center;
}

.field-news {
  border: 1px solid var(--btn-primary);
  height: 36px;
  min-width: 36px;
  padding-left: 8px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
}

@media (max-width: 960px) {
  footer section {
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  footer {
    text-align: center;
  }

  #googlemapspic {
    justify-content: center;
  }
}