:root {
  --main-bg-color: #4c4f53;
  --secondary-bg-color:#212529;
  --main-text-color: antiquewhite;
  --secondary-text-color: #ae9a63;
}


body{

  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "PT+Serif"; 

}


header {
  grid-column: 1/-1;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  font-family: "Alice", sans-serif;
}

header:hover{
  color: whitesmoke;
}

footer {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-section {
  margin: 10px;
  border: 1px solid #333;
}
