body{

  background-color: #4c4f53;
  color:antiquewhite;
  font-family: "PT Serif", sans-serif; 

}


header {
  grid-column: 1/-1;
  background-color: #212529;
  color: #ae9a63;
  font-family: "Alice", sans-serif;
}

header:hover{
  color: whitesmoke;
}

footer {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-section {
  margin: 10px;
  border: 1px solid #333;
}
