.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-bg-color);
    /* background: linear-gradient(var(--secondary-bg-color), var(--main-bg-color)); */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
    font-family: "Alice", sans-serif; 
    min-height: 120px;
    flex-wrap: wrap;
  }
  
  /* .logodiv { 
    
  } */
  
  .menudiv { 
    flex-grow: 1;
  }
  .bookingdiv { 
    justify-content: flex-end;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 0px 20px;
    text-transform: uppercase;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }
  
  .top-nav a {
    color: var(--menulink-primary);
    text-decoration: none;
    font-size: var(--menu-text-size);
  }
  
  .top-nav a:hover {
    color: var(--menulink-primary-hover);
    transition: all 0.3s ease; 
  }
  
  .top-nav li.booking {
    visibility: hidden;
    background-color: var(--btn-primary-hover);
  }
  
  .top-nav a.booking {
    color: rgb(0, 0, 0);
  }

  .top-nav a.menuactive {
    color: var(--menulink-active);
    font-size: var(--menu-text-size);
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  /* INBETWEEN MOBILE AND DESKTOP  - SMALLER DESKTOPS */
  @media screen and (max-width: 1199px) and (min-width: 960px) {
    .headerlogo {
      max-width: 160px!important;
    }
    .menudiv { 
      flex-grow: 0;
    }
    .menu {
      padding: 0px 0px 0px 0px!important;
    }
    .top-nav a {
      font-size: 15px!important;
    } 
    .btn-boka { 
      font-size: 18px!important;
    }
  }

  /* MOBILE AND TABLETS */
  @media (max-width: 959px) {
    .bookingdiv {
      display: none;
    }
    .menudiv { 
      flex-grow: 0;
      font-size: larger!important;
    }
    .top-nav {
      justify-content: space-between;
      min-height: 100px;
    }
    .top-nav li.booking {
      visibility: visible;
    }
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 100px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 0px!important;
      margin-bottom: 25px;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #222;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }