@import "./boende.css"; /* Import boende css */


* {
  box-sizing: border-box;
  margin: 0;
}

#container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.image-text {
  position: absolute;
  top: 350px; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1;
  color: white; 
  font-family: "PT Serif";
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  padding: 10px 40px; 
  font-size: 45px; 
  text-align: center; 
}

main{
  grid-column: 1/-1;
  min-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap:10px
}

#mainpicture {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  width: 100%;
  box-shadow: 0 2 4px 1px rgba(11, 11, 11, 0.5);
  opacity: 0.6;
}


#mainpicture img{
  width: 100%;
  box-shadow: 0 2 4px 1px rgba(11, 11, 11, 0.5);
  opacity: 0.6;
}

#description {
  grid-column: 1/-1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

#description img{
  width: 50%;
  height:fit-content;
  padding: 10px;
}

#description p{
  font-size: 99%;
  padding: 10px;

 margin: 20px;
  
}

#offer1,
#offer2,
#offer3,
#offer4,
#offer5,
#offer6 {
  padding: 60px;
  text-align: center;
}

#offer1 {
  grid-column: 1/5;
}

#offer2 {
  grid-column: 5/-5;
}

#offer3 {
  grid-column: -5/-1;
}

#offer4 {
  grid-column: 1/5;
}

#offer5 {
  grid-column: 5/-5;
}

#offer6 {
  grid-column: -5/-1;
}

#offer1 img,
#offer2 img,
#offer3 img,
#offer4 img,
#offer5 img,
#offer6 img {
width: 100%;
}

@media screen and (max-width: 1199px) and (min-width: 960px) {

#description{
  flex-wrap: wrap;
  text-align: center;
 
}


#offer1 {
  grid-column: 1/7;
}

#offer2 {
  grid-column: 7/13;
}

#offer3 {
  grid-column: 1/7;
}

#offer4 {
  grid-column: 7/13;
}

#offer5 {
  grid-column: 1/7;
}

#offer6 {
  grid-column: 7/13;
}
}

@media screen and (max-width: 959px){

  #description{
    flex-wrap: wrap;
    text-align: center; 
  }
  
  #offer1 {
    grid-column: 1/13;
  }
  
  #offer2 {
    grid-column: 1/13;
  }
  
  #offer3 {
    grid-column: 1/13;
  }
  
  #offer4 {
    grid-column: 1/13;
  }
  
  #offer5 {
    grid-column: 1/13;
  }
  
  #offer6 {
    grid-column: 1/13;
  }

  .image-text {
    position: absolute;
    top: 250px; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1;
    color: white; 
    font-family: "PT Serif";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 10px 40px; 
    font-size: 25px; 
    text-align: center; 
  }

  }