
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#gridcontainer{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 50px;
    position: relative;
}
#Mainpicture{
    opacity: 0.4;
    height: auto;
    width: 100%;
    position: relative;
    
}
aside{
    color: var(--main-text-color);
}
.topcontent p{
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-family: "PT+Serif";
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);    
    font-size: 45px; 
    z-index: 1;
    color: var(--main-text-color);
}

aside, p{
    text-align: center;
    grid-column: 4/10;
    justify-content: flex-start;
    line-height: 1.8;
    letter-spacing: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
   
}


button{
    background-color: var(--secondary-text-color);
    color: var(--secondary-bg-color);
    width: 120px;
    height: 50px;
    color: var(--main-text-color);
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
    text-align: center; 
 }

 button:hover{
    background-color: var(--btn-primary-hover);
    color: var(--secondary-bg-color);
 }

#container2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    margin: 50px;
    max-width: 98%;
}

main img{
width: 100%;
}

img:hover{
opacity: 0.5;
cursor: pointer;

}

#picture1 p,
#picture2 p,

#picture4 p,
#picture5 p,
#picture6 p,
#picture7 p{
    position: absolute;
    z-index: 1;
    top:10%;
     padding: 20px;
    text-shadow: 2px 2px 4px  #212529;
   
}

#picture3 {
   position: relative;

}

#picture3 table{

    position: absolute;
    z-index: 1;
    top:2%;
    left: auto;
    margin: 25px;
    padding: 20px;
    text-shadow: 2px 2px 4px  #212529;
    
  
    
    

}

table, th, td{
    border: 2px solid #ae9a63;
    padding: 0.2%;
}

table{

    display:block;
    overflow-y: auto;
    white-space: nowrap;
    overflow: scroll;
    width: 90%;
    height: 90%;
  
  
  
}
table tbody{
    display: table;
    width: 100%;
}

#picture1,
#picture2,
#picture4,
#picture5,
#picture6,
#picture7
{
   
    position:relative;
}

#picture1{
    grid-column: 1/5;
    grid-row: 1/2;


}
#picture2{
    grid-column: 5/-5;
    grid-row: 1/2;
}
#picture3{
    grid-column: 9/13;
    grid-row: 1/3;
    max-height: 100;

}
#picture4{
    grid-column: 1/-5;
    grid-row: 2/3;
}
#picture5{
    grid-column: 1/3;
    grid-row: 3/4;
}
#picture6{
    grid-column: 3/8;
    grid-row: 3/4;
}
#picture7{
    grid-column: 8/13;
    grid-row: 3/4;
}

#Schema{
    height: auto;
    width: 100%;
    background-color:var(--secondary-bg-color);
    padding:20px;
    text-align: center;    
    margin: 0 auto 0 auto;
    letter-spacing: 2.5px;
    border-bottom: 1px solid var(--main-text-color);
    
}



#Schema button{
    margin: 10px;
}


@media screen and (max-width: 960px) {
    .topcontent p{
        text-align: center;
        top: 250px;

    }


    #picture1{
        grid-column: 1/7;
        grid-row: 1/2;
        
        
        }
        #picture2{
        grid-column: 7/13;
        grid-row: 1/2;
        }
        #picture3{
        grid-column: 1/7;
        grid-row: 3/5;
        max-height: 100;
        
        }
        #picture4{
        grid-column: 1/13;
        grid-row: 2/3;
        }
        #picture5{
        grid-column: 10/12;
        grid-row: 2/3;
        margin-top: 20px;
        }
        #picture6{
        grid-column: 7/13;
        grid-row: 3/4;
        }
        #picture7{
        grid-column: 7/13;
        grid-row: 4/5;
        }

aside {
    grid-column: 3/11;



}

}

@media screen and (max-width:767px) {
    .topcontent p{
        top: 180px;
        text-align: center;
        font-size: 25px;
    }

#sammanfattning{
        grid-column:   1/13;
        grid-row: 2/3;
}
     
       
       
       
       
       
      
     
    #picture1{
        grid-column: 1/13;
        grid-row: 1/2;
        
        
        }
        #picture2{
        grid-column: 1/13;
        grid-row: 2/3;
        }
        #picture3{
        grid-column: 1/13;
        grid-row: 6/8;
        max-height: 100;
        
        }
        #picture4{
        grid-column: 1/13;
        grid-row: 3/4;
        }
        #picture5{
        grid-column: 10/13;
        grid-row: 3/4;
        padding: 5px;
        }
        #picture6{
        grid-column: 1/13;
        grid-row: 4/5;
        }
        #picture7{
        grid-column: 1/13;
        grid-row: 5/6;
        }



}